.kitchen{
    display: block;
    background-color: rgba(255, 255, 255, 0.144);
    text-shadow: white 1px 0px 3px;
}

.kitchen-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.order-list{
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    width: 100vh;
    height: fit-content;
    text-align: center;
    margin: 10px;
}

.list-title{
    margin-bottom: 15px;
}

.list{
    margin-bottom: 10px;
}

.open-orders{
    background-color: #ef5f42e8;
}

.closed-orders{
    background-color: #3b738ee0;
}

.video-background{
    background-cover: cover;
    position: fixed;
    bottom: 0;
    width: auto;
    height: auto;
    right: 0;
    top: 50px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}