/* SOFT RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.trash-can {
  height: 4vh;
  width: 4vh;
  background-color: #bc8176;
}

.trash-can:hover {
  cursor: pointer;
}

button {
  background-color: #bc8176;
}
