/* SOFT RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #728da10e;
  margin-bottom: 10px;
  font-family: "Marron Bold", serif;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px black;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
}

/*  HEADER E TÍTULOS */
h1 {
  text-align: center;
}

label {
  width: 250px;
}

p {
  font-size: 1.5em;
}
/*  NAVBAR - BURGER QUEEN  */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  /* justify-content: center;
  align-items: center; */
  background-color: #200116;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.main-background {
  background-color: rgba(255, 255, 255, 0.308);
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7.5px 7.5px;
  background-color: #200116;
  color: white;
  font-family: "Marron";
  font-size: 3em;
  /* height: 80px; */
  /* margin: 0; */
}

/*  SUBTITLE - LOGIN, REGISTRO */
.sub-title {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.label {
  font-size: 1.2em;
  color: #000000;
}
/*  INPUTS TEXTO - FORM */
.input {
  max-width: 500px;
  height: 50px;
  border-bottom-style: solid;
  border-color: #d56877;
  border-width: 2px;
  background-color: #728da100;
  text-align: center;
  font-size: 1.5em;
  display: block;
  margin-bottom: 30px;
}

.login {
  text-align: center;
  display: block;
}

.form-box {
  text-align: -webkit-center;
}

.infobox {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.description {
  background-color: #200116;
  border-radius: 40px;
  color: #ffffff;
  display: inline-block;
  height: fit-content;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 25px;
  padding: 10px;
  text-align: center;
  width: auto;
  font-size: 1.6em;
  font-family: "Bree Serif", serif;
}

/*  INPUTS BOTÕES */
.logout-position {
  /* background-color: #d3adab; */
  background-color: transparent;
  /* border-radius: 40px 10px 40px 10px; */
  font-size: 2em;
  /* height: 40px; */
  position: fixed;
  right: 10px;
  top: 5px;
  /* width: 150px; */
}

.logout-position:hover {
  cursor: pointer;
}

.logout-image {
  height: 50px;
  width: 50px;
}

.form-button {
  background-color: #d56877;
  border-radius: 40px 10px 40px 10px;
  font-size: 1.8em;
  height: 30px;
  margin: 10px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
}

.ButtonItem:hover,
.form-button:hover {
  background-color: #aa5460;
  cursor: pointer;
}

.cancel-button {
  background-color: #dd3030;
}

.send-order-button {
  background-color: #3cf038;
  margin-top: 20px;
}

.send-order-button:hover {
  background-color: #36b934;
}

/* .select{
  font-size: 1.1em;
  margin-left: 5px;
  background-color: #728da100;
}

.select:hover{
  cursor: pointer;
} */

.link-style {
  text-decoration: none;
  color: #000000;
  display: flex;
  padding: 10px;
}
.link-style:hover {
  background-color: #d56877;
  font-weight: bold;
}
/* ORDENAR DEPOIS */
.flex-direction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* .occupation{
  border-bottom-style: solid;
  border-color: #D56877;
  border-width: 1px;
  padding: 10px;
} */

.occupation {
  display: block;
}

.p-bottom {
  margin: 10px;
  font-size: 1.1em;
}

.visibility-none {
  visibility: none;
}

.text-align {
  text-align: center;
  margin-top: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.menu-all {
  border-style: solid;
  border-radius: 40px;
  background-color: #8cb1db9c;
  width: 380px;
  height: fit-content;
  margin-right: 10px;
  padding: 20px;
}

.menu-title {
  margin-top: 10px;
}

.menu-list {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*  MODAL */
.modal {
  width: 400px;
  height: 320px;
  position: absolute;
  margin-left: auto;
  display: none;
  background-color: #b9a8ba;
  border-radius: 40px;
  text-align: center;
  box-shadow: black 5px 5px 100px 0px;
  padding-top: 10px;
}

.modal:target {
  display: block;
  top: 250px;
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.hidden {
  visibility: hidden;
}

.edit-burger {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

.radio-buttons {
  font-size: 1.1em;
  display: grid;
  margin-top: 10px;
  margin-left: 40px;
  text-align: left;
  font-weight: 600;
}

.occupation-options {
  display: flex;
  justify-content: center;
}

.cheese-egg {
  text-align: left;
  margin-left: 40px;
}

.hall-template {
  display: block;
  justify-content: center;
}

.order-card {
  border-style: solid;
  border-radius: 40px;
  background-color: #9c96b8dc;
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
  font-size: 1.1em;
  /* position: fixed; */
}

.order-details {
  margin-left: 10px;
  margin-top: 10px;
}

.order-details-input {
  width: 350px;
  border-radius: 40px;
  background-color: #ffffff00;
  height: 20px;
  border-style: none;
  margin-top: 5px;
}

.order-bottom-info {
  text-align: center;
}

.clients-info {
  display: flex;
}

.value-total {
  font-size: 1.5em;
}

.menu-item {
  padding: 10px 35px 0px 45px;
  height: 12vh;
  margin-bottom: 5px;
  border-radius: 30px;
  background-color: rgba(64, 224, 208, 0.466);
}

.menu-button {
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 0px 0px 5px 10px;
}

@media (max-width: 900px) {
  .logout-position {
    width: fit-content;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
  }
}
