/* SOFT RESET */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #728da10e;
  margin-bottom: 10px;
  font-family: "Marron Bold", serif;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px black;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid black;
}

/*  HEADER E TÍTULOS */
h1 {
  text-align: center;
}

label {
  width: 250px;
}

/*  NAVBAR - BURGER QUEEN  */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #200116;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.main-background {
  background-color: rgba(255, 255, 255, 0.308);
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7.5px 7.5px;
  background-color: #200116;
  color: white;
  font-family: "Marron";
}

/*  SUBTITLE - LOGIN, REGISTRO */
.sub-title {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.label {
  font-size: 2em;
  color: #000000;
}

/*  INPUTS TEXTO - FORM */
.input {
  max-width: 500px;
  height: 40px;
  border-bottom: solid 2px #d56877;
  background-color: #728da100;
  text-align: center;
  font-size: 2em;
  display: block;
  margin-bottom: 30px;
}

.login {
  text-align: center;
  display: block;
}

.form-box {
  text-align: -webkit-center;
}

/*  INPUTS BOTÕES */
.logout-position {
  background-color: transparent;
  position: fixed;
  right: 10px;
  top: 5px;
}

.logout-position:hover {
  cursor: pointer;
}

.logout-image {
  height: 50px;
  width: 50px;
}

.form-button {
  background-color: #d56877;
  border-radius: 40px 10px 40px 10px;
  font-size: 1.8em;
  font-weight: 600;
  height: 30px;
  margin: 10px;
  width: fit-content;
  padding: 0px 15px 35px 15px;
}

.ButtonItem:hover,
.form-button:hover {
  background-color: #aa5460;
  cursor: pointer;
}

.text-align {
  text-align: center;
  margin-top: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.hall-template {
  display: block;
  justify-content: center;
}

@media (max-width: 900px) {
  .logout-position {
    width: fit-content;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
  }
}
