.input{
  width: 400px;
  height: 30px;
}

.option{
  display: flex;
}

h1{
  text-align: center;
}
label{
  width: 250px;
}

.login{
  text-align: center;
}
.infobox{
  width: 250px;
  height: 250px;
  background-color: cadetblue;
  margin-left: 40%;
  margin-bottom: 24%;
}


.header {
  background-color: #282c34;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

